---
import Layout from "../layouts/Layout.astro";
import PhoneSetup from "../assets/phone.jpg";
import YoloBird from "../assets/yolo-bird.png";
import { Image } from "astro:assets";
---

<Layout>
  <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <h1 class="text-3xl font-bold mb-8">About Pilane</h1>

    <Image src={PhoneSetup} alt="Phone setup" class="w-96 object-cover" />

    <div>
      <p class="my-4">
        I live quite close to an airport, I can see planes flying overhead all
        the time. I was on the terrace one day with a couple friends and was
        quite surprised by the number of planes that flew over us. It was a
        Friday and thus, Pi-lane was born. It was a joy to build this. You can
        find a more detailed write-up <a
          class="text-blue-500"
          href="https://obviy.us/blog/pilane-spotting/">here</a
        >.
      </p>

      <p>
        This project is heavily inspired by skybot.cam (RIP), but tries to be a
        bit more DIY without using an ADS-B receiver or a Cloud vision API.
      </p>

      <p class="my-4">
        <strong>How it works:</strong>
      </p>

      <ul class="list-disc pl-6 mb-6">
        <li>
          The camera is an old Android Nokia device. I pull the images from it
          using <code>adb</code> and <code>scrcpy</code>
        </li>
        <li>The images are copied to a Raspberry Pi running YOLOv11</li>
        <li>
          The Pythons script uses the Flightradar API fetches the details about
          the aircraft and the flight
        </li>
      </ul>

      <p class="my-4">
        You can find the script <a
          class="text-blue-500"
          href="https://gist.github.com/obviyus/86c693683ffee95c06d3c8d1177d394f"
          >here</a
        >.
      </p>

      <p>
        It ends up missing a few flights since inference on the Pi 3B+ takes
        about 2.5s per image, even when using the NCNN export of YOLOv11. I
        could upgrade the Pi but using an underpowered device is part of the
        fun, I really enjoyed the challenge.
      </p>

      <p class="my-4">
        <strong>Wishlist:</strong>
      </p>
      <ul class="list-disc pl-6 mb-6">
        <li>
          Show some nice stats on the website (all images of a callsign, of an
          airline etc.)
        </li>
        <li>
          Purchase a RTL-SDR and use that instead of an API (completely self
          hosted!)
        </li>
        <li>Identify fewer birds as planes 🐦</li>
        <Image
          src={YoloBird}
          alt="Yolo bird"
          class="w-96 mt-4 mx-auto object-cover"
        />
      </ul>

      There's also a Telegram channel where the script posts the images: <a
        class="text-blue-500"
        href="https://t.me/pilanespotting">https://t.me/pilanespotting</a
      >

      <p class="my-4">Thank you for visiting Pilane!</p>
    </div>
  </div>
</Layout>
