---
import Layout from "../layouts/Layout.astro";
import { getRecentFlights, getUniqueModels } from "../utils/db";
import { images } from "../utils/imageImports";
import PlaneCard from "../components/PlaneCard.astro";

const flights = await getRecentFlights();
const models = await getUniqueModels();
---

<Layout>
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
		<div class="mb-12">
			<h2 class="text-2xl font-bold text-gray-900 mb-4">Aircraft Models</h2>
			<div class="flex flex-wrap gap-3">
				{
					models
						.sort((a, b) => b.count - a.count)
						.map((model) => (
							<a
								href={`/model/${model.type}`}
								class="bg-white px-4 py-2 border-1 shadow-sm hover:shadow-md transition-all duration-300 text-gray-800 border border-gray-100"
							>
								<code>
									{model.type} ({model.count})
								</code>
							</a>
						))
				}
			</div>
		</div>

		<div
			class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
		>
			{
				flights
					.filter(
						(flight) =>
							images[flight.fr24Id] !== "unknown" &&
							images[flight.fr24Id] !== undefined,
					)
					.map((flight) => <PlaneCard flight={flight} />)
			}
		</div>
		{
			flights.length === 0 && (
				<div class="text-center py-12">
					<p class="text-xl text-gray-600">No flights found</p>
				</div>
			)
		}
	</div>
</Layout>
