---
import Layout from "../../layouts/Layout.astro";
import { getFlightsByModel, getUniqueModels } from "../../utils/db";
import { images } from "../../utils/imageImports";
import PlaneCard from "../../components/PlaneCard.astro";

export async function getStaticPaths() {
  const models = await getUniqueModels();
  return models.map((model) => ({ params: { model: model.type } }));
}

const { model } = Astro.params;
if (!model) {
  throw new Error("No model provided");
}

const flights = await getFlightsByModel(model);
---

<Layout title={`${model} - Pi-lane Spotting`}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-8">{model}</h1>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
    >
      {
        flights
          .filter(
            (flight) =>
              images[flight.fr24Id] !== "unknown" &&
              images[flight.fr24Id] !== undefined,
          )
          .map((flight) => <PlaneCard flight={flight} />)
      }
    </div>
  </div>
</Layout>
